# /usr/lib/systemd/system/firebird-log.socket
[Unit]
Description=Firebird RDMS logging FIFO

[Socket]
ListenFIFO=/var/log/firebird/firebird.log
Symlinks=/var/log/firebird.log
SocketUser=firebird
SocketGroup=firebird
SocketMode=0220
DirectoryMode=0750
RemoveOnStop=on
PipeSize=16K
PrivateNetwork=on

[Install]
WantedBy=multi-user.target
