[Unit]
Description=Firebird Database Service
After=network.target

[Service]
User=firebird
Group=firebird
RuntimeDirectory=firebird
Environment=FIREBIRD_TMP=/run/firebird FIREBIRD_LOCK=/run/firebird
ExecStart=/usr/lib/firebird/bin/firebird
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
