[Unit]
Description=Firebird RDMS log dumper
RefuseManualStart=on
RefuseManualStop=on
Requisite=firebird-log.socket
PartOf=firebird-log.socket
After=firebird-log.socket

[Service]
StandardInput=socket
StandardOutput=null
StandardError=journal
ExecStart=/usr/bin/systemd-cat -t firebird
User=firebird
Group=firebird
ProtectSystem=full
RestrictAddressFamilies=AF_UNIX
ProtectKernelModules=on
ProtectControlGroups=on
NoNewPrivileges=on
CPUSchedulingPolicy=idle
TasksMax=4
