[Unit]
Description=Firebird Database Service
After=network.target

[Service]
User=firebird
Group=firebird
RuntimeDirectory=firebird
RuntimeDirectoryMode=0750
LogsDirectory=firebird
LogsDirectoryMode=0750
StateDirectory=firebird firebird/system
StateDirectoryMode=0770
Environment=FIREBIRD_TMP=/run/firebird FIREBIRD_LOCK=/run/firebird
ExecStart=/usr/lib/firebird/bin/firebird
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
